.redeDoacao{
    height: 75vh;
    width: 100%;
    background-image: url('../../assets/redeDoacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 6%

    h2{
        font-size: 32px;
        color: #fff;
        width: 20%;
    }

}

.cardContainer {
    border: solid red;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    display: flex;
    margin: 20px;
    
    

    p{
        font-size: 22px;
        margin-top: 10%;
        align-items: center;
    }

}

.card{
    width: 30%;
    border: solid red;
    border-radius: 8px;
    overflow: hidden;
    background-color: #0157944D;
}

.cardImage{
    width: 15%;
    height: auto;
}