.footerIcon {
    background: #005695;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    color: #fff;

    nav{
        width: 12%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
.copyrigth{
    background-color: #232020;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    height: 8vh;
    justify-content: center;
}
